body {
    background-color: rgb(119, 0, 255);
    color: white;
}

header {
    font-size: 25px;
    text-align: center;
    padding: 15px;
    margin: auto;
}
#timer {
    width: 200px;
    background-color: black;
    text-align: center;
    font-size: 50px;
    margin: auto;
    border-radius: 10px;
    border: black;
}
#btns {
    padding: 20px;
    text-align: center;
}

#start {
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.74); 
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
  }
  
#start:hover {
    transition-duration: 0.2s;
    background-color: #28c42d;
    color: white;
  }

#stop {
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.74); 
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
  }
  
#stop:hover {
    transition-duration: 0.2s;
    background-color: #b91a1a;
    color: white;
  }

#reset {
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.74); 
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
  }
  
#reset:hover {
    transition-duration: 0.2s;
    background-color: #d6da12;
    color: white;
  }
